@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#FFB729;
    --secondary-color:#311807;
    --third-color:#EEECEA;
    --fourth-color:#FC0404;
    --white-color:#ffffff;
}
*{
    font-family:var(--primary-font-family);
    font-weight:600;
}
body{
    margin:0;
}
.container{
    margin:0 50px;
}
.top-strip {
    background-color:var(--primary-color);  
}
.top-strip .top-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
    padding:5px 0;
}
.top-strip a{
    color:var(--secondary-color);
    text-decoration:none;
}
.top-strip .contact-details img{
    width:20px;
    height:20px;
    padding-right:4px;
}
.top-strip .contact-details .mail{
    padding-right:10px;
}
.top-strip .contact-details{
    list-style-type:none;
    display:flex;
    align-items:center;
    gap:20px;
    padding-left:0;
    margin:0;
}
.top-strip .contact-details li{
    display:flex;
    align-items:center;
}
.top-strip .social-icons{
    list-style-type:none;
    display:flex;
    align-items:center;
    gap:10px;
     padding-top:5px;
    padding-left:0;
    margin:0;
}
.main-strip {
  background-color: #fff;
  padding: 10px 0;
  /* border-bottom: 1px solid #e5e5e5; */
}
.main-strip .main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-strip .main-row .nav-bar {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-strip .main-row .nav-bar li img {
  width: 60px;
  height: 52px;
  padding-top: 5px;
}
.main-strip .main-row .nav-bar li a {
  text-decoration: none;
  color:var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
}
.main-strip .main-row .nav-bar .down-arrow::after {
  content:url("../image/Vector.svg");
  font-size: 10px;
  padding-left:5px;
}
.main-strip .main-row .search-engine {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 0;
}
.main-strip .main-row .search-engine .search-bar {
  position: relative;
}
.main-strip .main-row .search-engine .search-bar input[type="text"] {
  background-color: #eee8e3;
  border: none;
  border-radius: 8px;
  padding: 8px 35px 8px 12px;
  font-size: 13px;
  color:var(--secondary-color);
  width: 250px;
}
.main-strip .main-row .search-engine .search-bar input::placeholder {
  color:var(--secondary-color);
  opacity: 0.6;
}
.main-strip .main-row .search-engine .search-bar .image {
  position: absolute;
  right: 10px;
  top:45%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.main-strip .main-row .search-engine li img {
  width: 28px;
  height: 28px;
}
.main-banner-sec  .main-banner img{
    width:100%;
    margin-bottom:-4px;
}
.offers-nav-sec{
    background-color:var(--primary-color);  
}
.offers-nav-sec marquee{
    margin-bottom:-4px;
}
.offers-nav-sec .offers-nav{
    display:flex;
    align-items:center;
    gap:10px;
}
.offers-nav-sec .offers-nav img{
    width:24px;
    height:24px;
}
.offers-nav p{
    padding-right:20px;
}
.category-designs{
    background-color:var(--white-color);
}
.category-designs .designs{
    display:grid;
    justify-items:center;
    align-items:center;
    margin-top:40px;
    font-size:14px;
}
.design-gradient{
    background:linear-gradient(to right,var(--primary-color),var(--secondary-color));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.category-designs .designs .design-gradient{
    margin-bottom:0;
}
.category-designs .designs .categories{
    display:flex;
    gap:20px;
    text-align:center;
    padding:10px 0px 30px 0px;
}
.category-designs .categories img{
    padding-bottom:70px;
}
.category-designs .categories .design-icons img{
    width:60px;
    height:60px;
    padding:20px;
    background-color:var(--secondary-color);
    border:2px solid var(--primary-color);
    border-radius:50%;
}
.category-designs .categories .design-icons{
    width:130px;
}
.category-designs .designs a{
    text-decoration:none;
    color:var(--secondary-color);
    border:2px solid var(--primary-color);
    border-radius:8px;
    padding:12px 15px;
}
.category-designs .designs a:hover{
    color:var(--white-color);
    background-color:var(--primary-color);
}
.new-arrivals-sec{
    background-color:var(--white-color);
}
.new-arrivals-sec .new-arrivals{
    display:grid;
    justify-items:center;
    align-items:center;
    margin-top:60px;
    font-size:14px;
}
.new-arrivals-sec .new-arrivals .design-gradient{
    margin-bottom:0;
}
.new-arrivals-sec .new-arrivals .arrivals{
    display:grid;
    justify-content:space-evenly;
    grid-template-columns:repeat(5,1fr);
    column-gap:20px;
    row-gap:30px;
}
.new-arrivals-sec .new-arrivals .arrivals img{
    width:200px;
    height:200px;
    border-radius:8px;
}
.cost-gradient{
    background:linear-gradient(var(--primary-color),var(--secondary-color));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.new-arrivals-sec .new-arrivals .arrivals .design-cost{
    display:flex;
    justify-content:space-between;
}
.new-arrivals-sec .new-arrivals .arrivals .box{
    box-shadow:3px 3px rgba(147, 146, 146, 0.2);
    border-radius:8px;
    position:relative;
}
.new-arrivals-sec .new-arrivals .arrivals .box .display-icons{
    position:absolute;
    bottom:64px;
    width:200px;
    height:200px; 
    display:none;  
}
.new-arrivals-sec .new-arrivals .arrivals .box .image:hover + .display-icons{
    display:block;
} 
.new-arrivals-sec .new-arrivals .arrivals .box .img1{
    width:30px;
    height:30px;
    padding:10px 0 0 160px;
}

.new-arrivals-sec .new-arrivals .arrivals .box .img2{
    width:30px;
    height:30px;
    padding:10px 0 0 160px;
}

.new-arrivals-sec .new-arrivals .arrivals .box .display-icons p{
    color:var(--secondary-color);
    background-color:var(--primary-color);
    border-radius:0 0 8px 8px;
    padding:12px;
    margin:74px 0 0;
    text-align: center;
}
.new-arrivals-sec .new-arrivals .arrivals .design-cost .cost-gradient::before{
    content:url("../image/mdi_rupee.svg");
    display:inline-block;
    vertical-align: middle;
}
.new-arrivals-sec .new-arrivals .arrivals p{
    margin:6px;
}
.images-sec{
    background-color:var(--white-color);
}
.images-sec .images{
    margin:80px auto;
    display:flex;
    justify-content:center;
    gap:20px;
}
.images-sec .images img{
    width:500px;
}
.week-selling-sec{
    background-color:var(--white-color);
}
.week-selling-sec .week-selling{
    display:grid;
    justify-items:center;
    align-items:center;
    margin:60px auto;
    font-size:14px;
}
.week-selling-sec .week-selling .design-gradient{
    margin-bottom:0;
}
.week-selling-sec .week-selling .sellings{
    display:grid;
    justify-content:space-evenly;
    grid-template-columns:repeat(5,1fr);
    column-gap:20px;
    row-gap:30px;
}
.week-selling-sec .week-selling .sellings .position{
    position:relative;
}
.week-selling-sec .week-selling .sellings .position p{
    padding-left:8px;
}
.week-selling-sec .week-selling .sellings .position .cost{
    position:absolute;
    background-color:var(--primary-color);
    width:60px;
    padding:8px 0;
    border-radius: 8px 0 60px 0;
}
.week-selling-sec .week-selling .sellings .position .cost .org-cost{
    color:var(--fourth-color);
    text-decoration:line-through;
}
.week-selling-sec .week-selling .sellings .position .cost .org-cost::before{
    content:url("../image/fa-solid_rupee-sign.svg");
    vertical-align:middle;
}
.week-selling-sec .week-selling .sellings .position .cost .mod-cost::before{
    content:url("../image/fa-solid_rupee-sign\ \(1\).svg");
    vertical-align:middle;
}
.week-selling-sec .week-selling .sellings .position .cost p{
    font-size:18px;
    line-height:16px;
    padding-left:12px;
    margin:0;
}
.week-selling-sec .week-selling .sellings .position{
    box-shadow:3px 3px rgba(147, 146, 146, 0.2);
    border-radius:8px;
}
.week-selling-sec .week-selling .sellings img{
    width:200px;
    height:200px;
    border-radius:8px;
}
.week-selling-sec .week-selling .sellings p{
    margin:6px 0px;
}
.footer-sec{
    background-color:var(--primary-color);
}
.footer-sec .footer{
    padding:40px 0;
    display:flex;
    justify-content:space-between;
    font-size:14px;
}
.footer-sec .footer .description{
    list-style:none;
    width:300px;
    line-height:22px;
    padding-left:144px;
}
.footer-sec .footer .description img{
    width:70px;
    height:62px;
}
.footer-sec .footer .description .download img{
    background-color:var(--white-color);
    width:110px;
    height:40px;
    padding:4px 16px;
    border-radius:8px;
}
.footer-sec .footer .quick-links{
    display:flex;
    gap:60px;
    line-height:30px;
    padding-right:144px;
    margin-top:0;
}
.footer-sec .footer .quick-links p{
    font-weight:800;
    margin:0;
}
.footer-sec .footer .links{
    list-style:none;
}
.footer-sec .footer .support{
    list-style:none;
}
.footer-sec .footer .contact-details{
    list-style:none;
}
.footer-sec .footer .contact-details .info{
    display:flex;
    align-items:center;
}
.footer-sec .footer .contact-details .info img{
    margin-right: 8px;
}
.footer-sec .footer .contact-details .info .x{
    margin-left:6px;
}
.footer-sec .footer a{
        color:var(--secondary-color);
        text-decoration:none;
}
.copyright-sec{
   background-color:var(--secondary-color); 
}
.copyright-sec .copyright{
    display:flex;
    justify-content:space-between;
    color:var(--primary-color);  
    font-size:14px;
}